/*keyframes*/
@media  screen and (max-width: 468px) {
    .title{
        font-size: 3rem;
    }
    .list__info{
        flex-direction: column;
        gap: 10px;
    }
    .cartao__container{
        flex-direction: column;
    }
    .section__info{
        width: 468px;
        height: auto;
    }
    .section__title{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 5px;
    }
    .section__sobre{
        height: auto;
    }
    li{
        font-size: 2rem;
    }
    .cartao__info{
        width: 80%;
        height: 50vh;                 /* Esconde o excesso de texto */
    }
    .cartao__info h4{
        font-size: 2rem;
    }
    .cartao__info p{
        font-size: 1.3rem;
    }
    .cartao__info li{
        font-size: 1.3rem;
    }
    .skills__container{
        flex-direction: column;
        align-items: center;
    }
    .skills h2{
        font-size: 3rem;
    }
    .skills__tools{
        width: 90%;
        height: auto;
    }
}
/*keyframes*/
@media  screen and (max-width: 368px) {
    .title{
        font-size: 3rem;
    }
    .list__info{
        flex-direction: column;
        gap: 10px;
    }
    .cartao__container{
        flex-direction: column;
    }
    .section__info{
        width: 368px;
        height: auto;
    }
    .section__title{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 5px;
    }
    .section__sobre{
        height: auto;
    }
    li{
        font-size: 2rem;
    }
    .cartao__info{
        width: 90%;
        height: 60vh;                 /* Esconde o excesso de texto */
    }
    .cartao__info h4{
        font-size: 2rem;
    }
    .cartao__info p{
        font-size: 1.3rem;
    }
    .cartao__info li{
        font-size: 1.3rem;
    }
    .skills__container{
        flex-direction: column;
        align-items: center;
    }
    .skills h2{
        font-size: 3rem;
    }
    .skills__tools{
        width: 90%;
        height: auto;
    }
    .skills__tools ul {
        grid-template-columns: 1fr;
        padding-bottom: 2vh;
    }
}